.venv/
chimera_logs/
chimeraX_logs/
main_logs/
density_maps/
__pycache__
train.py
train_1.py
chimera_scripts/*.pyc
molecule_data/
delatoms_molecule_data/
raw_conformers_data/
delatoms_conformers_data/
model_save_folder/
*temp/
temp*
gnina
*_chimeraX_output/
*_main_logs/
slurm-*.log
*.pkl
train_2.py
train_3.py
train_4.py
test_mrc.py
train_5.py